[submodule ".registry"]
	path = .registry
	url = https://github.com/opendp/opendp.r-universe.dev
	branch = HEAD
[submodule "opendp"]
	path = opendp
	url = https://github.com/opendp/opendp
	branch = r-universe
	subdir = R/opendp
